<div class="d-grid gap-2">
    <a href="/home/sortreview" class="container btn btn-primary"> مقایسه سرعت انواع مرتب سازی</a>
    <a href="/home/uploadfile" class="container btn btn-primary"> آپلود فایل مرتب سازی جدید</a>

   
    
</div>
